<!DOCTYPE html>
<html lang="en"><head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>Lego Rover Rule Builder</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link type="text/css" rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css" />
    <script src="bower_components/jquery/dist/jquery.js"></script>
    <script src="bower_components/jquery-ui/ui/minified/jquery-ui.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-dragdrop/src/angular-dragdrop.js"></script>
    <script src="js/legorover.rule-builder.config.js"></script>
    <script src="js/legorover.rule-builder.controller.js"></script>
</head>

<body ng-app="legorover.rule-builder">
<div class="container" ng-controller="mainController">
    <h1>Web-rover-1</h1>
    <div id="events" class="row panel panel-default">
        <div class="panel-body">
        <div class="col-md-8">
            <h3>Triggers</h3>
            <p class="note">
                <small>Drag and drop an event to trigger your rule</small>
            </p>
            <div>
                <div class="btn btn-info btn-draggable" ng-repeat="item in options.events" ng-model="options.events" ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="m1" jqyoui-draggable="{index: {{$index}}, animate: true, placeholder: 'keep'}">{{item.title}}</div>
            </div>
        </div>
        <div class="col-md-4">
            <div class="panel panel-default">
                <div class="panel-heading">
                    <h3 class="panel-title">If..</h3>
                </div>
                <div class="panel-body">
                <ol class="list-group" data-drop="true" ng-model='m2' jqyoui-droppable="{multiple:true}">
                    <li class="btn btn-success btn-draggable list-group-item list-group-item-success" ng-repeat="item in m2 track by $index" ng-show="item.title" data-drag="true" data-jqyoui-options="{revert: 'invalid', helper: 'clone'}" ng-model="m2" jqyoui-draggable="{index: {{$index}},animate:true}">{{item.title}}</li>
                    <li class="btn btn-default btn-draggable list-group-item">Add your items here</li>
                </ol>
                </div>
            </div>
        </div>
            </div>
    </div>


    <div class="opts">






        <h2>Actions</h2>
        <p class="note">
            <small>Drag and drop one or more actions to create your rule</small>
        </p>
        <ul class="ico" id="action">
            <li id="actionF" class="ruleOpt Forward">
                <span class="ui-btn-inner">Forward</span>
            </li>
            <li id="actionB" class="ruleOpt Back">
                <span class="ui-btn-inner">Back</span>
            </li>
            <li id="actionL" class="ruleOpt Left">
                <span class="ui-btn-inner">Left</span>
            </li>
            <li id="actionR" class="ruleOpt Right">
                <span class="ui-btn-inner">Right</span>
            </li>
            <li id="actionS" class="ruleOpt Stop">
                <span class="ui-btn-inner">Stop</span>
            </li>
        </ul>
    </div>
    <div class="rule">
        <h2>My Rule</h2>
        <ol class="ruleOpts" id="rule1">
            <li id="stateIf" class="txt">If...</li>
            <li id="rule1" class="ruleTarget placeholder">
                <span class="ui-btn-inner">+ Drag event here</span>
            </li>
            <li id="stateThen" class="txt">Then...</li>
            <li id="rule2" class="ruleTarget placeholder">
                <span class="ui-btn-inner">+ Drag action here</span>
            </li>
        </ol>
        <div class="save">
            <a href="../lejos-server/web-app/" class="btn btn-primary">Save</a>
            <a href="../lejos-server/web-app/" class="btn" style="margin-top: 0.5em">Cancel</a>
        </div>
    </div>

</div><!-- /end .main -->

<div id="obstacleDialog" title="Obstacle Options" class="dialog">
    <h3>There is an Obstacle if...        </h3>
    <ul>
        <li>
            <p>
                <input name="obstacle" type="radio" value="" />
                The Ultrasonic Sensor detects an object within <input type="text" style="width: 30px">&nbsp;cms</p>
        </li>
        <li>
            <p>
                <input name="obstacle" type="radio" value="" />
                Or, the Touch Sensor touches something
            </p>
        </li>
    </ul>
</div>

<div id="holeDialog" title="Hole Options" class="dialog">
    <h3>There is a hole if &hellip;</h3>
    <P>The ground is darker than:</P>
    <div id="expSlider" class="slider"></div>
    <small style="float:left; display:block">Bright sunlight</small>
    <small style="float:right; display:block">Pitch black</small></div>
</div>

<div id="explosionDialog" title="Explosion Options" class="dialog">
    <h3>There is an explosion if &hellip;</h3>
    <P>There is a noise louder than:</P>
    <div id="expSlider" class="slider"></div>
    <small style="float:left; display:block">Silent</small>
    <small style="float:right; display:block">Deafening</small></div>
</div>

<div id="forwardDialog" title="Forward Options">
    <h3>Speed:</h3>
    <div class="slider"></div>
    <small style="float:left; display:block">Very slow</small>
    <small style="float:right; display:block">Very Fast</small>
    <p style="clear:both"><small>Optional:</small><br />
        <input name="" type="checkbox" value="" /> Stop after
        <input type="text" style="width: 30px" />
        cms
    </p>
</div>

<div id="backDialog" title="Back Options">
    <h3>Speed:</h3>
    <div class="slider"></div>
    <small style="float:left; display:block">Very slow</small>
    <small style="float:right; display:block">Very Fast</small>
    <p style="clear:both"><small>Optional:</small><br />
        <input name="" type="checkbox" value="" /> Stop after
        <input type="text" style="width: 30px" />
        cms
    </p>
</div>


<div id="leftDialog" title="Left Options">
    <p style="clear:both">Turn <input type="text" style="width: 30px" />
        degrees
    </p>
</div>

<div id="rightDialog" title="Right Options">
    <p style="clear:both">Turn <input type="text" style="width: 30px" />
        degrees
    </p>
</div>

<div id="stopDialog" title="Stop Options">
    <p>Stop</p>
</div>
</body>
</html>
